@import "../../styles/inc.scss";

.v-treeselect {
  display: inline-block;
  width: 100%;

  // popover wrapper
  > span {
    display: inline-block;
    width: 100%;
  }

  .el-select {
    width: 100%;
  }

  &__selector-ctl {
    // hide <Select /> popper
    &__popper {
      display: none;
    }
  }

  &__popper {
    $content-wrapper-padding: 6px;

    padding: $content-wrapper-padding 0 0;
    max-height: 400px;
    font-size: 12px;

    /* @override */
    .el-tree-node[aria-disabled=true] > .el-tree-node__content {
      cursor: no-drop;
      background: transparent;

      .el-tree-node__label {
        cursor: inherit;
        color: $disabled-color-base;
        font-weight: normal;
      }
    }

    &.disabled {
      display: none !important;
    }

    .el-tree {
      margin-right: 8px;
    }

    .el-tree-node__label {
      font-size: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      cursor: pointer;
      white-space: nowrap;
      display: block;
    }

    .el-button--small {
      width: 25px !important;
      min-width: 25px !important;
    }

    .el-scrollbar__view {
      border: 0;
    }

    .el-tree-node__content {
      width: 100%;
      overflow: hidden;
    }

    .filter-box {
      padding: 0 $content-wrapper-padding 1px;
    }

    .el-select-dropdown__empty {
      padding: 5px 0;
    }

    // override and sync with .el-select-dropdown__empty
    .el-tree__empty-block {
      color: $color-text-placeholder;
      height: auto;
      min-height: initial;
      padding: 5px 0;

      .el-tree__empty-text {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        font-size: inherit;
        color: inherit;
      }
    }
  }
}
