@import "../../styles/inc.scss";

.v-icon {
  display: inline-block;
  font-size: 1.16em;

  &.is-button {
    cursor: pointer;
    color: $color-info;

    &:hover {
      color: $color-primary
    }
  }

  &.is-light {
    color: lighten($color-highlight, 2%);

    &.is-button {
      &:hover {
        color: lighten($color-highlight, 15%)
      }
    }
  }

  &.is-disabled {
    color: $disabled-color-base;
  }
}

.v-svg-icon {
  @include size(1em);
  fill: currentColor;
  overflow: hidden;
}
