@import "../styles/inc.scss";

.v-editable {
  .v-icon-modify {
    margin-left: 4px;
  }
}

.v-editable__popover {
  .el-form-item {
    margin-bottom: 13px;
  }
}
.v-form .el-input--suffix .el-input__inner{
  padding-right: 20px;
}
