.v-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;

  img {
    pointer-events: none;
    user-select: none;
  }

  &.v-grid-placeholder,
  &.static {
    .v-resizable-handle-wrapper {
      display: none;
    }
  }

  &.v-resizable-hide .v-resizable-handle-wrapper {
    display: none;
  }

  &.resizing {
    z-index: 1;
    will-change: width, height;
    opacity: 0.9;
  }

  &.v-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }

  &.cssTransforms {
    transition-property: transform;
  }

  &.v-grid-placeholder {
    opacity: 0.4;
    transition-duration: 100ms;
    z-index: 2;
    user-select: none;
  }

  .v-resizable-handle-wrapper .v-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      bottom: 3px;
      width: 5px;
      height: 5px;
      border-right: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    }

    &.v-resizable-handle-sw {
      bottom: 0;
      left: 0;
      cursor: sw-resize;
      transform: rotate(90deg);
    }

    &.v-resizable-handle-se {
      bottom: 0;
      right: 0;
      cursor: se-resize;
    }

    &.v-resizable-handle-nw {
      top: 0;
      left: 0;
      cursor: nw-resize;
      transform: rotate(180deg);
    }

    &.v-resizable-handle-ne {
      top: 0;
      right: 0;
      cursor: ne-resize;
      transform: rotate(270deg);
    }

    &.v-resizable-handle-w,
    &.v-resizable-handle-e {
      top: 50%;
      margin-top: -10px;
      cursor: ew-resize;
    }

    &.v-resizable-handle-w {
      left: 0;
      transform: rotate(135deg);
    }

    &.v-resizable-handle-e {
      right: 0;
      transform: rotate(315deg);
    }

    &.v-resizable-handle-n,
    &.v-resizable-handle-s {
      left: 50%;
      margin-left: -10px;
      cursor: ns-resize;
    }

    &.v-resizable-handle-n {
      top: 0;
      transform: rotate(225deg);
    }

    &.v-resizable-handle-s {
      bottom: 0;
      transform: rotate(45deg);
    }
  }

  &.v-resizable-hide > .v-resizable-handle {
    display: none;
  }
}
